@model JerryStore.Models.CartModel
@{
    ViewBag.Title = "index";
}

<h2>index</h2>@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>
<table class="table">
    @foreach (JerryStore.Models.LineItemModel lineItem in Model.LineItems)
    {
        <tr>
            <td>@lineItem.Name</td>
            <td>@lineItem.Quantity</td>
            <td>@lineItem.Size</td>
            <td>@lineItem.Color</td>
        </tr>
    }
</table>

@Html.ActionLink("Check Out", "Index", "Checkout")

