@model JerryStore.Models.Student
@{
    ViewBag.Title = "Index";
}

<h2>Student: @model.FirstName @model.LastName</h2>

    <dl>
        <dd>First Name:</dd>
        <dd>@model.FirstName</dd>
            <dd>Last Name:</dd>
        <dd>LastName</dd>
        <dd>@model.LastName</dd>
            <dd>Date Of Birth:</dd>
        <dd>@model.DateOfBirth</dd>
    </dl>